body {
  font-family: Arial, sans-serif;
  background: pink;
}

.container {
  display: flex;
  justify-content: space-around;
  width: auto;
  height: 100vh;
  padding: 50px;
  background: white;
}

.members, .my-friends {
  border: 0px solid #ccc;
  padding: 10px;
  width: 40%;
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.user {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 5px;
  vertical-align: middle;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}

.user-username{
  font-size: 100%;
}

.button-class{
  background-color: blue;
}

/* Menambahkan kelas follow-btn untuk tombol Follow */
.follow-btn {
  background-color: #007bff; /* Warna biru */
  color: #fff; /* Warna teks putih */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Menambahkan kelas unfollow-btn untuk tombol Unfollow */
.unfollow-btn {
  background-color: #dc3545; /* Warna merah */
  color: #fff; /* Warna teks putih */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

h2 {
  text-align: left;

}

.users {
  /* margin-top: 0px; */
  width: 100%;
}

